pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.typing {
  width: 90%;
  height: 408px;
  border: 1px solid #303030;
  border-radius: 4px;
  margin: auto;
  margin-top: 50px;
  overflow-y: scroll;
  background-color: white
}

.text {
  font-size: 20px;
  color: gray;
  text-align: left;
  padding: 10px 20px;
  font-weight: 800;
}

.ch.correct {
  color: #1FBD83;
}

.ch.incorrect {
  color: hotpink;
}

.ch.current {
  border-bottom: 2px solid lightseagreen;
}